<nav id="na" class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" style="color:white;font-family: sans-serif;" ><img src="https://cdn-icons.flaticon.com/png/128/1390/premium/1390737.png?token=exp=1660153508~hmac=a9e98807b1bee9f9e8e746428beb7351" height="35px" width="35px">&nbsp;&nbsp;Shop Online</a>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item ">
            <a class="nav-link" routerLink="" id="dashboard" style="color:white;font-family: sans-serif;">Dashboard</a>
          </li>
        <li class="nav-item ">
          <a class="nav-link" routerLink="/admin/products" id="products" style="color:white;font-family: sans-serif;">Products</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin/category" id="category" style="color:white;font-family: sans-serif;">Category</a>
        </li>
        <li class="nav-item active" >
          <a class="nav-link" routerLink="/orders"  id="orders" style="color:white;font-family: sans-serif;">Orders</a>
        </li>
        <li class="nav-item active" >
            <a class="nav-link" routerLink=""  id="payment" style="color:white;font-family: sans-serif;">Payment</a>
          </li>
        <li class="nav-item active" >
            <a class="nav-link" routerLink=""  id="feedback" style="color:white;font-family: sans-serif;">Feedbacks</a>
          </li>
         <li class="nav-item active" >
            <a class="nav-link" routerLink="/users"  id="users" style="color:white;font-family: sans-serif;">Users</a>
          </li>
        <li class="nav-item">
            <a class="nav-link" id="logout" class="style" style="color:white;font-family: sans-serif;" routerLink="/">Logout</a>
        </li>
      </ul>
    </div>
  </nav>