.row{
    padding-left: 50px;
    padding-top: 20px;
}
.card{
    padding: 5px;
    

}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit:cover;
}
.space{
    padding-left: 20px;
}
